.current-chat {
  max-width: 60%;
  margin-inline: auto;
}

.current-chat * {
  font-family: "Noto Sans", "sans-serif";
}

.current-chat h1 {
  border-bottom: 1px solid #bfbfbf;
  margin-block: 0px;
  padding-block: 1rem;
  padding-inline: 2rem;
  font-weight: 500;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 250px;
  list-style-type: none;
  padding: 0.25rem;
  margin-block: 0.75rem;
}

.chat-message,
.chat-message-self {
  width: fit-content;
  max-width: 65%;
  padding-block: 8px;
  padding-inline: 12px;
  border-radius: 16px;
  margin-bottom: 4px;
  background: #e0e0e0;
  display: flex;
  justify-content: center;
}

.chat-message-self {
  align-self: flex-end;
  background: #a4eda4;
}

.message-form {
  border-top: 1px solid #bfbfbf;
  display: flex;
  flex-direction: row;
}

.message-input {
  flex-grow: 1;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  border: none;
  border-right: 1px solid #dfdfdf;
  margin-block: 0.25rem;
  outline-width: 0px;
}

.message-send {
  background: none;
  padding-inline: 2rem;
  padding-block: 0.25rem;
  border: none;
  font-size: medium;
}

.message-send:hover {
  background: #f3f3f3;
  cursor: pointer;
}
